In [3]:
import pandas as pd
import sklearn.tree as sltree
import numpy as np

def write_file(str, filename):
    with open(filename, 'w') as f:
        f.write(str + "\n");

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [5]:
data = data[['Survived', 'Pclass', 'Fare', 'Age', 'Sex']]
data.head()
len(data)

891

In [210]:
# filtering
fdata = data.dropna()
len(fdata)

714

In [237]:
f_names = ['Sex', 'Pclass', 'Age', 'Fare']
t_name = 'Survived'
features = fdata[f_names].copy()
target = fdata[t_name]
features['Sex'] = np.where(features.Sex == 'male', 1, -1)
features.head()

             Sex  Pclass  Age     Fare
PassengerId
1              1       3   22   7.2500
2             -1       1   38  71.2833
3             -1       3   26   7.9250
4             -1       1   35  53.1000
5              1       3   35   8.0500

In [238]:
target.head()

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [239]:
clr = sltree.DecisionTreeClassifier(random_state=241) # 241 -- parametr from task

In [240]:
clr = clr.fit(np.array(features), np.array(target))

In [241]:
clr.feature_importances_

array([ 0.30051221,  0.14000522,  0.2560461 ,  0.30343647])

In [242]:
imparr = np.array(list(zip(clr.feature_importances_, f_names)), [('imp', float), ('fName', 'S10')])

In [243]:
imparr = np.sort(imparr, order='imp')

In [244]:
imparr

array([(0.14000521853124187, b'Pclass'), (0.2560461009790662, b'Age'),
       (0.3005122109582394, b'Sex'), (0.3034364695314525, b'Fare')],
      dtype=[('imp', '<f8'), ('fName', 'S10')])

In [245]:
ans = ' '.join([x[1].decode('UTF-8') for x in imparr[-2:]])
print("Most important = '" + ans + "'")
write_file(str=ans, filename='1.txt')

Most important = 'Sex Fare'

In [246]:
np.array(features).shape

(714, 4)

In [247]:
np.array(target).shape

(714,)

In [248]:
sum(clr.feature_importances_)

1.0