In [40]:
import pandas as pd
import sklearn.datasets
import sklearn.preprocessing
import sklearn.cross_validation
import sklearn.neighbors
import numpy
import math

In [41]:
d = sklearn.datasets.load_boston()
fd = pd.DataFrame(d.data) # objects feature description
fd.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [42]:
tg = pd.DataFrame(d.target) # target vector
tg.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [43]:
len(tg)

506

In [44]:
len(fd)

506

In [45]:
# scaling features
fd = pd.DataFrame(sklearn.preprocessing.scale(fd))
fd.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.417713,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,-0.415269,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,-0.415272,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,-0.414680,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,-0.410409,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501

In [76]:
kf = sklearn.cross_validation.KFold(len(tg), n_folds=5, shuffle=True, random_state=42)
def choose_metric(features, target):
    opt_p = 0
    opt_score = -math.inf
    for mp in numpy.linspace(start=1, stop=10, num=200):
        regressor = sklearn.neighbors.KNeighborsRegressor(n_neighbors=5, 
                                                          weights='distance', 
                                                          metric='minkowski',
                                                          p=mp
                                                          )
        scores = sklearn.cross_validation.cross_val_score(
            estimator=regressor, 
            X=features, 
            y=target, 
            cv=kf, 
            scoring='mean_squared_error')
        score = numpy.mean(scores)
        if score > opt_score:
            opt_score, opt_p = score, mp
    return opt_p, opt_score

In [77]:
p, s = choose_metric(fd, tg)
print("Oprtimal metric parameter = ", round(p, 3), " ; Score = ", round(s, 2))

Oprtimal metric parameter =  1.0  ; Score =  -16.05